version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: ikonga_postgres_prod
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data
    networks:
      - ikonga-network
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: ikonga_backend_prod
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      JWT_SECRET: ${JWT_SECRET}
    ports:
      - "3001:3001"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - ikonga-network
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: ikonga_frontend_prod
    environment:
      NEXT_PUBLIC_API_URL: https://${DOMAIN_NAME}/api
      NODE_ENV: production
    ports:
      - "3000:3000"
    networks:
      - ikonga-network
    restart: always

volumes:
  postgres_data_prod:


networks:
  ikonga-network:
    driver: bridge
